<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File List</title>
    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1>Uploaded Files</h1>
<table border="1">
    <thead>
    <tr>
        <th>Filename</th>
        <th>Metadata</th>
        <th>Filesize</th>
        <th>File Format</th>
        <th>Client Host</th>
        <th>Client Port</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td><a th:href="@{/file-download(filename=${file['filename']})}" th:text="${file['filename']}"></a></td>
        <td><a th:href="@{/file-download(filename=${file['filename']})}">Download metadata</a></td>
        <td th:text="${file['filesize']}">Filesize</td>
        <td th:text="${file['fileformat']}">File Format</td>
        <td th:text="${file['clientHost']}">Client Host</td>
        <td th:text="${file['clientPort']}">Client Port</td>
    </tr>
    </tbody>
</table>
</body>
</html>
