<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tracker File List</title>
    <style>
        table {
            width: 50%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1>File List from Tracker</h1>
<table border="1">
    <thead>
    <tr>
        <th>File Name</th>
        <th>Download file</th>
        <th>Metadata</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.filename}"></td>
        <td>
            <a th:href="@{/download-file(fileName=${file.filename})}"
               th:attr="data-file-name=${file.filename}"
               onclick="sendTrackerData(this)">Download</a>
        </td>
        <td>
            <a th:href="@{'/tracker/download-metadata/' + ${file.filename}}">Download metadata</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
<script>
    function sendTrackerData(element) {
        const fileName = element.getAttribute('data-file-name');
        const clientIP = location.hostname;
        const clientPort = location.port;

        fetch('/tracker/save-download', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                fileName: fileName,
                clientIP: clientIP,
                clientPort: clientPort
            })
        });
    }

</script>